# Dependency directories
node_modules
.model-cache/
dist

# OS-specific files
.DS_Store

# Build/public assets
server/public
vite.config.ts.*

# Archives and environment files
*.tar.gz.env

# Git internals (shouldn’t be tracked)
.git


.env
# Logs
*.log

# Virtual environments
venv310/



